/* TODOS
- add mobile styling
-reposition social media logos*/

:root {
	--violet: hsl(257, 40%, 49%);
	--soft-magenta: hsl(300, 69%, 71%);
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	background-color: var(--violet);
	background-image: url(/images/bg-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	/* background-image: url(/images/bg-mobile.svg) /images/bg-desktop.svg*/
	/* font-family: 'Open Sans', sans-serif (body);
    font-family: 'Poppins', sans-serif (headings;*/
}


.f-button,
.t-button,
.i-button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid 1px white;
	background-color: rgba(255, 255, 255, 0);
	font-size: 20px;
	color: white;
	margin-left: 10px;
}

.f-button:hover,
.t-button:hover,
.i-button:hover {
	border: solid 1px var(--soft-magenta);
	cursor: pointer;
	color: var(--soft-magenta);
}

.attribution {
	position: relative;
	top: 40px;
	font-size: 12px;
	text-align: center;
}
.attribution a {
	color: white;
}

